.svn
.project
.classpath
.settings/

bin/
target/
logs/

release.properties
pom.xml.releaseBackup

.directory
*.log
*.out
*~
*.backup
*.toc
*.aux
*.$$$
*.~*#
*.idx
*.ilg
*.ind
*.kilepr
*.orig
*.bbl
*.blg
*.pdf
