title {
	background: solid;
	background-color: SteelBlue;
	icontextgap: 3;
}

title:hover {
	background: solid;
	background-color: blue;
	icontextgap: 30;
}

title:selected {
	background: solid;
	background-color: red;
	fontmodifier: generic;
	fontmodifier-italic: yes;
	fontmodifier-delta: 4;
}

title[vertical] {
	background: solid;
	background-color: white;
}

title[vertical]:selected {
	background: solid;
	background-color: gray;
}

stack title {
	background: solid;
	background-color: green;
	shape: oval;
}